[submodule "Helix/vendor/GLFW"]
	path = Helix/vendor/GLFW
	url = https://github.com/IlieEfros07/glfw
[submodule "Helix/vendor/glm"]
	path = Helix/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Helix/vendor/imgui"]
	path = Helix/vendor/imgui
	url = https://github.com/Kartikkain/imgui